# **What is numpy?**

A library for Python, NumPy lets you work with huge, multidimensional matrices and arrays. Along with that, it provides a gamut of high-level functions to perform mathematical operations on these structures. Here is a short brief about it:

1.   Author- Travis Oliphant
2.   First Release- 1995 (Released as Numeric; Changed to NumPy in 2006)
3.   Stable Release- June, 2018
4.   Written in- Python Programming, C
5.   Python NumPy is cross-platform and BSD-licensed.
6.   The term ‘Numpy’ is a portmanteau of the words ‘NUMerical’ and ‘PYthon’.
7.   Numpy is a python library to create homogeneous multidimensional arrays and provide tools for working with these arrays.
8.   The elements of numpy array are of the same type. One can create an array in Python using lists or array() function. The advantage of using Numpy array is it scales better and takes less memory when compared to standard Python list or array.
9.   Using Numpy, you can perform following operations:
10.   Mathematical and logical operations on arrays.
11.   Fourier transforms and routines for shape manipulation.
12.   Operations related to linear algebra. NumPy has inbuilt functions for linear algebra and random number generation.

# **Features of Numpy**

Numpy offers several features, some of the features offered by Numpy are:

*   NumPy stands on CPython, a non-optimizing bytecode interpreter.
*   Multidimensional arrays.
*   Functions and operators for these arrays.
*   Python Alternative to MATLAB.
*   ndarray- n-dimensional arrays.
*   Fourier transforms and shapes manipulation.
*   Linear algebra and random number generation.

# **How to install Numpy**

You Can Use Pip To Install Numpy
*   pip install numpy


Then you can import it as - 
*   import numpy as np

# **NumPy, NdArrays And Attributes**

*   Numpy is a python library to create homogeneous multidimensional arrays and provide tools for working with these arrays.
*   The elements of numpy array are of the same type. One can create an array in Python using lists or array() function. The advantage of using Numpy array is it scales better and takes less memory when compared to standard Python list or array.
*   Using Numpy, you can perform following operations:
*   Mathematical and logical operations on arrays.
*   Fourier transforms and routines for shape manipulation.

*   Operations related to linear algebra. NumPy has inbuilt functions for linear algebra and random number generation.

**Ndarray And Ndarray Attributes**

NumPy’s array class is called ndarray. It is also known by the alias array. Note that numpy.array is not the same as the Standard Python Library class array.array, which only handles one-dimensional arrays and offers less functionality. Here is some most important attribute of the ndarray object:
*   **ndarray.ndim** : the number of dimensions of the array. In Numpy, the number of dimensions is also the rank of the array.
*   **ndarray.shape** : A tuple of integers representing the size of an array. For a matrix with n rows and m columns, the shape will be (n,m).
*   **ndarray.size** : the total number of elements of the array. It is also equal to the product of the elements of shape.
*   **ndarray.dtype** : It is an object that describes the type of the elements in the array.
*   **ndarray.data** : It is a buffer that contains the actual elements of the array.

**Python Join List**

*   Python join list means concatenating a list of strings with a specified delimiter to form a string. Sometimes it’s useful when you have to convert list to string. For example, convert a list of alphabets to a comma-separated string to save in a file.
*   We can use python string join() function to join a list of strings. This function takes iterable as argument and List is an interable, so we can use it with List.

Let’s look at a short example for joining list in python to create a string.

In [ ]:
# Example for joining list to create a string

vowels = ["a", "e", "i", "o", "u"]
vowelsCSV = ",".join(vowels)
print("Vowels are = ", vowelsCSV)

Vowels are =  a,e,i,o,u

When we run the above program, it will produce the following output.

Vowels are =  a,e,i,o,u

**Parameters For The Join() Method**

*   The **join()** method takes an iterable (objects capable of returning its members one at a time) as its parameter.
*   Some of the example of iterables are :  
Native data types - List, Tuple, Dictionary, Set and String
*   File objects and objects you define with an __iter__() or __getitem()__ method.
*   **Return Value**: The join() method returns a string concatenated with the elements of iterable.
*   **Type Error**: If the iterable contains any non-string values, it raises a TypeError exception.

**Working Of The Join() Method Example**

In [ ]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))
# .join() with tuples
numTuple = ('1', '2', '3', '4')
print(separator.join(numTuple))
s1 = 'abc'
s2 = '123'
# each element of s2 is separated by s1
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))
# each element of s1 is separated by s2
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

**Output**

1, 2, 3, 4

1, 2, 3, 4

s1.join(s2): 1abc2abc3

s2.join(s1): a123b123c

**Python Join Two Strings**

We can use join() function to join two strings too.

In [ ]:
message = "Hello "+"World"
print(message)

Hello World

**Output**

Hello World

**Joining With Empty String**

In [ ]:
# Python program to demonstrate the 
# use of join function to join list 
# elements without any separator. 
  
# Joining with empty separator 
list1 = ['h','e','l','l', 'o']  
print("".join(list1))

hello

**Output**

hello

**The Join() Method With Sets**

In [ ]:
# .join() with sets
test = {'2', '1', '3'}
s = ', '
print(s.join(test))
test = {'Python', 'Java', 'Ruby'}
s = '->->'
print(s.join(test))

1, 3, 2
Java->->Ruby->->Python

**Output**

1, 3, 2

Java->->Ruby->->Python

**Note** : The order of the values might change as it is a set.

**The Join() Method With Dictionaries**

In [ ]:
# .join() with dictionaries
test = {'mat': 1, 'that': 2}
s = '->'
# joins the keys only
print(s.join(test))
test = {1: 'mat', 2: 'that'}
s = ', '
# this gives error since key isn't string
print(s.join(test))

mat->that

TypeError: ignored

**Output**

mat->that

TypeError: sequence item 0: expected str instance, int found

The join() method tries to join the keys (not values) of the dictionary with the string separator.

**Note** : If the key of the string is not a string, it raises a TypeError exception.

**Np.Arrange**

The arange() function from numpy creates numeric sequences. It’s syntax is as follows:

**np.arrange (start, stop, step, dtype)**

start: the start of the interval (optional)

stop: the end of the interval.

step: the step between values (optional)

dtype: the data type (optional)

**Example On Np.Arrange()**

In [ ]:
import numpy as np
myArray1 = np.arange (0,14)
myArray2 = np.arange (5,14)
myArray3 = np.arange (8)
myArray4 = np.arange (0,14,1.5)
myArray5 = np.arange (0,14,dtype='float')
print (myArray1)
print (myArray2)
print (myArray3)
print (myArray4)
print (myArray5)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13]
[ 5  6  7  8  9 10 11 12 13]
[0 1 2 3 4 5 6 7]
[ 0.   1.5  3.   4.5  6.   7.5  9.  10.5 12.  13.5]
[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13.]

**Output**

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13]

[ 5  6  7  8  9 10 11 12 13]

[0 1 2 3 4 5 6 7]

[ 0.   1.5  3.   4.5  6.   7.5  9.  10.5 12.  13.5]

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13.]

**Np.Reshape**

Numpy reshape() function will reshape an existing array into a different dimensioned array.

**Example On Np.Reshape()**

In [ ]:
import numpy as np
 # create a 1 dimensional array
myArray1 = np.arange (0,9)
print (myArray1)
 
# convert the 1D array to a 2D array
myArray2 = myArray1.reshape(3,3) # (rows, columns)
print (myArray2)
 
print ("--------------------------")
print (myArray1.shape)
print (myArray2.shape)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
--------------------------
(9,)
(3, 3)

**Output**

[0 1 2 3 4 5 6 7 8]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

(9,)

(3, 3)

**numpy slicing/stacking and indexing with boolean array**

In [ ]:
import numpy as np
a = np.array([[6,7,8], [1,2,3], [9,3,2]])
print(a)
print(a[1,2])
print(a[0:2,2])
print(a[-1])

[[6 7 8]
 [1 2 3]
 [9 3 2]]
3
[8 3]
[9 3 2]

Output

[[6 7 8]
 [1 2 3]
 [9 3 2]]

 3

[8 3]

[9 3 2]

![array1.PNG]()

In [ ]:
a[:,1:3]

array([[7, 8],
       [2, 3],
       [3, 2]])

In [ ]:
a = np.arange(6).reshape(3,2)
b = np.arange(6,12).reshape(3,2)
print(a)
print(b)

[[0 1]
 [2 3]
 [4 5]]
[[ 6  7]
 [ 8  9]
 [10 11]]

In [ ]:
np.vstack((a,b))

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [ ]:
np.hstack((a,b))

array([[ 0,  1,  6,  7],
       [ 2,  3,  8,  9],
       [ 4,  5, 10, 11]])

In [ ]:
a = np.arange(30).reshape(2,15)
print(a)

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]]

In [ ]:
np.hsplit(a,3)

[array([[ 0,  1,  2,  3,  4],
        [15, 16, 17, 18, 19]]), array([[ 5,  6,  7,  8,  9],
        [20, 21, 22, 23, 24]]), array([[10, 11, 12, 13, 14],
        [25, 26, 27, 28, 29]])]

In [ ]:
result = np.hsplit(a,3)

In [ ]:
result[0]

array([[ 0,  1,  2,  3,  4],
       [15, 16, 17, 18, 19]])

In [ ]:
result[1]

array([[ 5,  6,  7,  8,  9],
       [20, 21, 22, 23, 24]])

In [ ]:
result[2]

array([[10, 11, 12, 13, 14],
       [25, 26, 27, 28, 29]])

In [ ]:
res = np.vsplit(a,2)

In [ ]:
res[0]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]])

In [ ]:
res[1]

array([[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])

In [ ]:
x = np.arange(15).reshape(3,5)
print(x)

y = x > 6
print(y)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
[[False False False False False]
 [False False  True  True  True]
 [ True  True  True  True  True]]

In [ ]:
x[y]

array([ 7,  8,  9, 10, 11, 12, 13, 14])

In [ ]:
x[y] = -1
print(x)

[[ 0  1  2  3  4]
 [ 5  6 -1 -1 -1]
 [-1 -1 -1 -1 -1]]

# Arithmetic Operations on array

In [ ]:
import numpy as np

x = np.array([[1,2], [3,4]])
y = np.array([[5,6], [7,8]])

print(x+y)
print(np.add(x,y))
print()

print(x-y)
print(np.subtract(x,y))
print()

print(x*y)
print(np.multiply(x,y))
print()

print(x/y)
print(np.divide(x,y))
print()

print(y//x)
print()

print(np.sqrt(y))

[[ 6  8]
 [10 12]]
[[ 6  8]
 [10 12]]

[[-4 -4]
 [-4 -4]]
[[-4 -4]
 [-4 -4]]

[[ 5 12]
 [21 32]]
[[ 5 12]
 [21 32]]

[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]

[[5 3]
 [2 2]]

[[2.23606798 2.44948974]
 [2.64575131 2.82842712]]

**Convert List to Numpy Array**

In [ ]:
import numpy as np
list1 = [[1,2,3,4], [8,9,10,11], [21,22,23,24]]
arr = np.array(list1).reshape(4,3) #converting list to array and reshaping it
print(arr)

[[ 1  2  3]
 [ 4  8  9]
 [10 11 21]
 [22 23 24]]

**Finding Unique elements and its count**

In [ ]:
import numpy as np
start = 11
end = 16
size = 25
arr = np.random.randint(start, end, size)
uniq,count = np.unique(arr,return_counts=True)
print("Unique elements : ",uniq)
print("element Count : ",count)

Unique elements :  [11 12 13 14 15]
element Count :  [4 7 7 5 2]

**Output**

Unique elements :  [11 12 13 14 15]

element Count :  [4 7 7 5 2]

**Note** : The output keeps changing as the attribute used here is random. So the input will be random values between start and end. Also the count depend on the size/ number of the random numbers generated.

#**Example Sample Programs**
#Sample Program 1

Sample program to understand the basics of Numpy. Write the code in the with the help of reference code given below and check the output.

**Refer to this**

import numpy as np

'''**we have a function arange() which makes an array of the specified dimension. Example:**'''

a = int(input())   
b = int(input())   
myArray = np.arange(a)   
print(myArray)

'''**an array from a to b**'''  
myArray = np.arange(a,b)   
print(myArray)

'''**an array from a to b with 2 steps**'''   
myArray = np.arange(a,b,2)  
print(myArray)

'''**reshape() helps to reshape our NumPy array**'''  
myArray = np.arange(a)

'''**syntax: reshape(number_of_rows, number_of_columns)**''' 
myArray = myArray.reshape(2,5)  
print(myArray)

'''**shape returns the shape of the array. The length of shape tuple is called as rank (or dimension)**'''  
print(myArray.shape)

'''**ndim returns the dimension (rank) of the array**'''  
print(myArray.ndim)

'''**size returns the total number of elements in the array**'''  
print(myArray.size)

'''**to check the data we have dtype.**'''  
print(myArray.dtype)

'''**zeros creates an array will all zeros**'''  
myArray = np.zeros((3, 4))  
print(myArray)

'''**ones creates an array with all ones**'''  
myArray = np.ones((3, 4))  
print(myArray)

In [ ]:
#write your code here and check for the output

#Sample Program 2
A sample program to work with **datatypes** in numpy.

In [ ]:
import numpy as np

# while creating a numpy array, any data type from above can be explicitly specified.
a = int(input())
myArray = np.arange(a)
print(myArray)

myArray = np.array(myArray, dtype = np.float32)
print(myArray)

myArray = np.array(myArray, dtype = np.complex64)
print(myArray)

10
[0 1 2 3 4 5 6 7 8 9]
[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
[0.+0.j 1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j 6.+0.j 7.+0.j 8.+0.j 9.+0.j]

#Sample Program 3

A sample program to work with numpy **attributes**

In [ ]:
# These are the various attributes provided by NumPy.

import numpy as np
a,b,c= input().split()
d,e,f = input().split()
myArray = np.array([[a,b,c], [d,e,f]])
print(myArray)

# ndarray.size returns the number of items in the array
print(myArray.size)

# ndarray.shape returns a tuple consisting of array dimensions
print(myArray.shape)

# ndarray.ndim returns the number of array dimensions
print(myArray.ndim)

# ndarray.itemsize returns the memory size of each element in the array
print(myArray.itemsize)

5 8 2
9 6 7
[['5' '8' '2']
 ['9' '6' '7']]
6
(2, 3)
2
4

#Sample Program 4

A sample program to **creat an array from numerical ranges.**

In [ ]:
# This program illustrates how to create an adarray from numerical ranges

import numpy as np

# ndarray.arange(start, stop, step, dtype)

a,b= map(int,input().split())
c = int(input())
d,e = map(int,input().split())

# Creates a numpy array from a to b
myArray = np.arange(a,b)
print(myArray)

# Specifying data type of each element
myArray = np.arange(c, dtype = 'float')
print(myArray)

# Specifying steps to jump in between two elements
myArray = np.arange(a,b,2)
print(myArray)

# ndarray.linspace(start, stop, num, endpoint,  retstep, dtype)
# Shows 5 equal intervals between d to e
myArray = np.linspace(d,e, 5)
print(myArray)

# if endpoint is set to false the last number inn STOP parameter is not executed
myArray = np.linspace(d,e,5, endpoint = False)
print(myArray)

# ndarray.lopspace returns an ndarray object that contains the numbers that are evenly spaced
# on a log scale.
# ndarray.logscale(start, stop, num, endpoint, base, dtype)
# default base is 10
myArray = np.logspace(1.0, 3.0, num = 10)
print(myArray)

myArray = np.logspace(1.0, 3.0, num = 10, base = 2)
print(myArray)

#Sample Program 5
A sample program to understand various **array manipulation operations**

In [ ]:
# This example shows various array manipulation operations
import numpy as np

# numpy.reshape(array_to_reshape, tuple_of_new_shape) gives new shape (dimension) to our array
a,b,c = map(int,input().split())

d,e,f = map(int,input().split()) # Input values to append into array

myArray = np.arange(a,b,c)
print(myArray)

myArrayReshaped = myArray.reshape(5, 3)
print(myArrayReshaped)

# numpy.ndarray.flat() returns an 1-D iterator
print(myArray.flat[5])

# numpy.ndarray.flatten() restores the reshaped array into a 1-D array
print(myArrayReshaped.flatten())

# numpy.tranpose() this helps to find the tranpose of the given array
print(myArrayReshaped.transpose())

# numpy.swapaxes(array, axis1, axis2) interchanges the two axes of an array
originalArray = np.arange(8).reshape(2,2,2)
print(originalArray)

print(np.swapaxes(originalArray, 2, 0))

# numpy.rollaxis(arr, axis, start) rolls the specified axis backwards, until it lies in a specified position
print(np.rollaxis(originalArray, 2))

# numpy.resize(arr, shape) returns a new array with the specified size. If the new size is greater than
# the original, the repeated copies of entries in the original are contained
myArray = np.array([[1,2,3],[4,5,6]])
print(myArray)
print(np.resize(myArray, (3, 2)))

# numpy.append(array, values, axis)
print(np.append(myArray, [d,e,f]))

1 31 2
8 9 11
[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]
[[ 1  3  5]
 [ 7  9 11]
 [13 15 17]
 [19 21 23]
 [25 27 29]]
11
[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]
[[ 1  7 13 19 25]
 [ 3  9 15 21 27]
 [ 5 11 17 23 29]]
[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]
[[[0 4]
  [2 6]]

 [[1 5]
  [3 7]]]
[[[0 2]
  [4 6]]

 [[1 3]
  [5 7]]]
[[1 2 3]
 [4 5 6]]
[[1 2]
 [3 4]
 [5 6]]
[ 1  2  3  4  5  6  8  9 11]

#Sample Program 6
A sample program to understand various **string functions**

In [ ]:
import numpy as np

str1 = input()
str2 = input()
str3 = input()
str4 = input()
str5,str6 = input().split()
str7 = input()

# string concatenation
print(np.char.add(str1, str2))

print(np.char.add(str1, 'pqr'))

# string multiplication
print(np.char.multiply(str1, 3))

# numpy.char.center: This function returns an array of the required width so that the input string is
# centered and padded on the left and right with fillchar.

print(np.char.center(str1, 20, fillchar = '*'))

# numpy.char.capitalize(): This function returns the copy of the string with the first letter capitalized.
print(np.char.capitalize(str3))

# numpy.char.title(): This function returns a title cased version of the input string with the first letter
# of each word capitalized.
print(np.char.title(str4))

# numpy.char.lower(): This function returns an array with elements converted to lowercase. It calls
# str.lower for each element.
print(np.char.lower([str5,str6]))

# numpy.char.upper(): This function calls str.upper function on each element in an array to return
# the uppercase array elements.
print(np.char.upper(str7))

# numpy.char.split(): This function returns a list of words in the input string. By default, a whitespace
# is used as a separator
print(np.char.split('Hello World'))
print(np.char.split('2020-02-11', sep='-'))

# numpy.char.join(): This method returns a string in which the individual characters are joined by
# separator character specified.
print(np.char.join(':','dmy'))

Hello
World
Welcome
to
Python Programming
Session
HelloWorld
Hellopqr
HelloHelloHello
*******Hello********
Welcome
To
['python' 'programming']
SESSION
['Hello', 'World']
['2020', '02', '11']
d:m:y

#Sample Program 7

A Sample program to understand various numpy **mathematical functions**

In [ ]:
import numpy as np

angle = int(input())

# Convert to radians by multiplying with pi/180
# for getting sine of angles
print(np.sin(angle * np.pi/180))

# for getting cosine of angles
print(np.cos(angle * np.pi/180))

# for getting tangent of angles
print(np.tan(angle * np.pi/180))

# for computing inverse of trigonometric functions
sine = np.sin(angle * np.pi/180)
sineinv = np.arcsin(sine)

# computing angle from inverse
print(np.degrees(sineinv))

# for rounding the values
print(np.around(sine, 4))

# for rounding to previous integer
print(np.floor(sine))

# for rounding to next integer
print(np.ceil(sine))

60
0.8660254037844386
0.5000000000000001
1.7320508075688767
59.99999999999999
0.866
0.0
1.0

#Sample Program 8
A sample program to understand various numpy **arithmetic operations**

In [ ]:
import numpy as np

a = int(input())
b,c = map(int,input().split())

firstArray = np.arange(a).reshape(b,c)
print(firstArray)

secondArray = np.arange(c)
print(secondArray)

# adding above two arrays (NOTE: array shapes should be same)
print(np.add(firstArray, secondArray))

# subtracting above two arrays
print(np.subtract(firstArray, secondArray))

# multiplying above two arrays
print(np.multiply(firstArray, secondArray))


# numpy.power(): returns array element raised to the specified value result
array = np.array([1, 2, 3])
print(np.power(array, 2))

#Sample program 9
A sample program to use **nan, inf, isinf and isnan** in numpy array

In [ ]:
import numpy as np
A=list(map(int,input().split(' ')))
B=list(map(int,input().split(' ')))
C=list(map(int,input().split(' ')))
list2=[A,B,C]
arr2=np.array(list2,dtype='float')
arr2[1,2]=np.nan
arr2[2,3]=np.inf
arr2[0,1]=np.inf
arr2[1,0]=np.nan
missing_bool=np.isnan(arr2) | np.isinf(arr2)
arr2[missing_bool]=0 
print(arr2)

1 2 3 4
3 4 5 6
6 7 8 9
[[1. 0. 3. 4.]
 [0. 4. 0. 6.]
 [6. 7. 8. 0.]]

#Sample Program 10
A sample program to find max value in each row and colum in a numpy array. and also find the cumulative sum of the array elements.

In [ ]:
import numpy as np
R=int(input())
C=int(input())
list2 = list(map(int, input().split())) 
arr2=np.array(list2).reshape(R, C) 
print(arr2)
print("Column wise maximum : ",np.amax(arr2,axis=0))
print("Row wise maximum : ",np.amax(arr2,axis=1))
print("Cumulative Sum : ",np.cumsum(arr2))

3
4
9 5 4 2 8 10 35 67 92 17 29 38
[[ 9  5  4  2]
 [ 8 10 35 67]
 [92 17 29 38]]
Column wise maximum :  [92 17 35 67]
Row wise maximum :  [ 9 67 92]
Cumulative Sum :  [  9  14  18  20  28  38  73 140 232 249 278 316]

In [ ]:
print(np.sum(arr2))
print(np.amin(arr2,axis=0))
print(np.amin(arr2,axis=1))

316
[8 5 4 2]
[ 2  8 17]

#Sample Program 11
A sample program to understand **ravel()** in numpy.

Ravled array changes the parent

In [ ]:
import numpy as np
r=int(input())
c=int(input())
list2 = list(map(int, input().split())) 
arr2=np.array(list2).reshape(r, c)
b2=arr2.ravel()
b2[3]=101
print(arr2)

3
2
2 5 1 7 9 6
[[  2   5]
 [  1 101]
 [  9   6]]

#Code Challenge Example
#Cumulative sum
**Read Description**

Given list of integers write a program to print the cumulative sum of the integers separated by space.

**Input Format** :  
First line is an integer input 'N' denoting the size of the list.  
Second line contains N space separated values representing the values of the list.

**Output Format** :  
Print the cumulative sum of the list

**Sample Input 1**  
6  
1 2 3 4 5 6

**Sample Output 1**  
1 3 6 10 15 21

In [ ]:
import numpy as np
n = int(input())
li = list(map(int, input().split()))
#write your code here

5
1 2 3 4 5
1
3
6
1 0
1 5